@import '../../../utilities.scss';

.container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 32.5rem;
    height: auto;
    gap: .6rem;
}