@import '../../../utilities.scss';

.container-legend {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 480px;
    height: auto;
}

.legend-title {
    text-align: start;
    color: $primary-text-color;
}

.legend-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.legend-box {
    display: flex;
    gap: 5px;
}

.legend-rain {
    font-weight: 600;
}

.legend-mm {
    color: $primary-text-color
}

