@import '../../utilities.scss';

.container-home {
    // Dimensions
    width: 100%;
    overflow-x: hidden;

    // Alocations
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}

.title-home {
    margin-top: 30px;
    color: $primary-text-color;

    @media (max-width: 420px) {
        text-align: center;
    }
}

.district-form {
    display: flex;

    gap: .6rem;
    
    justify-content: center;
    align-items: center;
    
}

.label-district {
    color: $primary-text-color;
    
}

.select-district {
    outline: none;
    outline-style: none;
    background: $primary-color;
    
    padding: .3rem;
    text-align: center;
    color: $primary-text-color;
    border: $primary-text-color 1px solid;
    border-radius: .6rem;

}

.container-cards-legends {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    
    @media (max-width: 720px) {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
}