@import '../../../utilities.scss';

.container-legend {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30rem;
    height: auto;
}

.legend-title {
    text-align: start;
    color: $primary-text-color;
}

.legend-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.legend-box {
    display: flex;
    gap: .5rem;
}

.legend-rain {
    font-weight: 600;
}

.legend-mm {
    color: $primary-text-color
}

@media (max-width: 720px) {
    .container-legend {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .legend-text {
        display: grid;
        grid-template-columns: 1fr;
    }
}

