$primary-color: #160F24;
$primary-text-color: #D1DDAF;
$color-strong-rain: #BE3E3D;
$color-middle-rain: #A3813C;
$color-weak-rain: #2050B8;
$color-without-rain: #77A238;
$primary-font-family: "DM Sans", sans-serif;